<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Staff Profile</title>
</head>
<body>
<h1 th:text="${staff.firstName} + ' ' + ${staff.lastName} + ' Employee Profile'"></h1>
<p th:text="'DOB: ' + ${staff.dob}"></p>
<p th:text="'Hired on: ' + ${staff.hiredOn}"></p>
<p th:text="'Department: ' + ${staff.department}"></p>
<p th:text="'Role: ' + ${staff.role}"></p>
<p th:text="'Salary: ' + ${staff.salary}"></p>

<a th:href="@{/staff/profile/{id}/edit(id=${staff.staffId})}">Update Information</a>
</body>
</html>