<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Patient Profile</title>
</head>
<body>
<h1 th:text="${patient.firstName} + ' ' + ${patient.lastName} + ' Patient Profile'"></h1>
<p th:text="'DOB: ' + ${patient.dob}"></p>
<p th:text="'Sex: ' + ${patient.sex}"></p>
<p th:text="'SSN: ' + ${patient.ssn}"></p>
<p th:text="'Phone number: ' + ${patient.phoneNumber}"></p>
<p th:text="'Insurance: ' + ${patient.insurance}"></p>

<a th:href="@{/patient/profile/{id}/edit(id=${patient.patientId})}">Update Information</a>
</body>
</html>