<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Visit Details</title>
</head>
<body>
<h1 th:text="'Visit from ' + ${visit.patient.firstName} + ' ' + ${visit.patient.lastName}"></h1>
<p th:text="'Status: ' + (${visit.dischargedOn==null} ? 'Ongoing' : 'Completed')"></p>
<p th:text="'Admitted on: ' + ${visit.admittedOn}"></p>
<p th:text="'Discharged on: ' + (${visit.dischargedOn==null} ? 'N/A' : ${visit.dischargedOn})"></p>
<p th:text="'Reason for visit: ' + ${visit.reason}"></p>

<a th:href="@{/patient/profile/{id}/view(id=${visit.patient.patientId})}">View patient profile</a>

<div>
    <h2>Staff on case:</h2>
    <div th:if="${visit.dischargedOn==null}">
        <p>Add staff to case:</p>
        <form method="post">
            <label for="addedStaff">Staff ID: </label>
            <input type="text" id="addedStaff" name="addedStaff">

            <input type="submit" value="Add staff">
        </form>
    </div>

    <br>
    <p th:text="${#lists.size(visit.staffInvolved)} + ' staff on case:'"></p>
    <ul>
        <li th:each="s: ${visit.staffInvolved}" th:text="${s.firstName} + ' ' + ${s.lastName}"></li>
    </ul>
</div>


<div th:if="${visit.dischargedOn==null}">
    <h2>Discharge patient:</h2>
    <form method="post">
        <label for="dischargeDate">Discharge Date: </label>
        <input type="date" id="dischargeDate" name="dischargeDate" th:value="${currentDate}">

        <input type="submit" value="Discharge">
    </form>
</div>
</body>
</html>